html, body {
	height: 100%;
}

body { 
	color: #222; 
	background-color: #fafafa; 	
}

.button-col {
	position: absolute;
    top: 35%;
    right: 0;
    text-align: center;

}

.button-sharing {
	font-size: 2em;
	color: #737373;
}

.content {
	padding-top: 30%;
	text-align: center;
}

.load-icon {
	font-size: 1em;
	padding-top: 50px;
}

@media (max-width: 650px) {
	.load-icon {padding-top: 15%;}
	.button-col {top: 55%;}
}